<h1>Chat with <%= @addressee.name %></h1>

<div id='<%= "stream:#{current_user.id}-#{@addressee.id}"%>'>
  <% @messages.each do |message|  %>
    <%= render message %>
  <% end %>
</div>


<%= form_for @new_message, remote: true do |form| %>
  <div class="field">
    <%= form.text_area :body, id: :message_body %>
    <%= form.hidden_field :addressee_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
